.dockerignore
.git
.idea

public/assets
log
tmp

docker/kafka
docker/postgres/data
docker/certbot/data

web_client/.next
web_client/node_modules
web_client/yarn-debug.log*
web_client/yarn-error.log*
web_client/.yarn-integrity
