default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  username: postgres
  password: pass
  host: postgres
  database: cheezecake_blog_development

test:
  <<: *default
  username: <%= ENV['POSTGRES_USER'] || 'postgres' %>
  password: <%= ENV['POSTGRES_PASSWORD'] || 'pass' %>
  host: <%= ENV['DATABASE_HOST'] || 'localhost' %>
  database: cheezecake_blog_test
